<div class="post">
  <div class="header">
    <h1>Post title</h1>
    <button
      class="btn btn-dark"
      routerLink="/">Home</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>date</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis iusto, facere ex dolorem aperiam hic impedit sed architecto, voluptate deserunt libero quos, inventore consectetur commodi dicta. Sunt ducimus distinctio id.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis iusto, facere ex dolorem aperiam hic impedit sed architecto, voluptate deserunt libero quos, inventore consectetur commodi dicta. Sunt ducimus distinctio id.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis iusto, facere ex dolorem aperiam hic impedit sed architecto, voluptate deserunt libero quos, inventore consectetur commodi dicta. Sunt ducimus distinctio id.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis iusto, facere ex dolorem aperiam hic impedit sed architecto, voluptate deserunt libero quos, inventore consectetur commodi dicta. Sunt ducimus distinctio id.</p>
  </div>
</div>