<div *ngIf="post$ | async as post; else loader_lg" class="post">
  <div class="header">
    <h1>{{post.title}}</h1>
    <button
      class="btn btn-dark"
      routerLink="/">Home</button>
  </div>

  <div class="info">
    <strong>Author: {{post.author}}</strong>
    <small>{{post.date | date: 'd MMMM yyyy, H:mm'}}</small>
  </div>

  <div>
    <quill-view-html content="post.content"></quill-view-html>
  </div>
</div>

<ng-template #loader_lg>
  <app-loader size="lg"></app-loader>
</ng-template>