<form
  *ngIf="!loading; else: loader_lg"
  [formGroup]="form"
  (ngSubmit)="submit()">
  <h3 class="form__title">Edit posts №{{order}}</h3>
  
  <div 
    class="form-control"
    [ngClass]="{invalid: titleField?.touched && titleField?.invalid}">
    <label for="title">Title</label>
    <input formControlName="title" id="title" type="text">
    <small 
      class="validation" 
      *ngIf="titleField?.touched && titleField?.invalid">
      {{formService.getErrorMessage(titleField)}}
    </small>
  </div>

  <div class="form-control">
    <label>Content</label>
    <quill-editor [styles]="quillStyles" formControlName="content"></quill-editor>
    <small 
      class="validation" 
      *ngIf="contentField?.touched && contentField?.invalid">
      {{formService.getErrorMessage(contentField)}}
    </small>
  </div>

  <div class="submit">
    <button 
      class="btn btn-dark submit__btn"
      type="submit"
      [disabled]="form.touched && form.invalid || submitting">
      <span *ngIf="!submitting else: loader_sm">Save changes</span>
    </button>

    <button 
      class="btn btn-light"
      routerLink="/admin/dashboard">
      Cancel
    </button>
  </div>
</form>

<ng-template #loader_lg>
  <app-loader size="lg"></app-loader>
</ng-template>
<ng-template #loader_sm>         
 <app-loader></app-loader>
</ng-template>