
<div *ngIf="posts; else loader_lg" class="dashboard">
  <div class="form-control">  
    <input type="text" placeholder="Search" [(ngModel)]="searchStr">
  </div>
  <div class="header">
    <div *ngFor="let title of titles" class="header__item">{{title}}</div>
  </div>
  <div *ngIf="!posts.length" class="empty">
    <h4>Post list is empty</h4>
    <button
      routerLink="/admin/create"
      class="btn btn-dark">Create post</button>
  </div>
  <div class="posts">
    <div *ngFor="let post of posts | searchPosts:searchStr; let i = index" class="post">
      <div class="post__id">{{i + 1}}</div>
      <div class="post__author">{{post.author}}</div>
      <div class="post__title">{{post.title}}</div>
      <div class="post__date">{{post.date | date: "medium"}}</div>
      <div class="post__actions">
        <button
          class="btn btn-dark"
          routerLink="/admin/posts/{{post._id}}/edit"
          [queryParams]="{order: i + 1}"
          [disabled]="loading[i]">
          Edit
        </button>
        <button 
          class="btn btn-primary btn-del"
          (click)="delete(post._id, i)"
          [disabled]="loading[i]">
          <span *ngIf="!loading[i] else: loader_sm">Delete</span>
        </button>
      </div>
    </div>
  </div>
</div>

 <ng-template #loader_lg>
   <app-loader size="lg"></app-loader>
 </ng-template>
 <ng-template #loader_sm>         
  <app-loader></app-loader>
</ng-template>